---
layout: default
---
<article class="post">
  <a class="text-link" href="{{ '/blog.html' | relative_url }}">← Volver a la bitácora</a>
  <header><h1>{{ page.title | escape }}</h1><div class="post-meta"><time datetime="{{ page.date | date_to_xmlschema }}">{{ page.date | date: '%d.%m.%Y' }}</time><span>Jorge Ulloa Roa</span><div class="tags">{% for category in page.categories %}<span>{{ category | escape }}</span>{% endfor %}</div></div></header>
  <div class="post-content">{{ content | replace: '<pre', '<pre tabindex="0"' }}</div>
  <a class="button button-outline" href="{{ '/blog.html' | relative_url }}">← Todos los artículos</a>
</article>
